<div class="tela">
  <div fxFlex="19">
    <app-sidebar></app-sidebar>
  </div>

  <div fxFlex="79">

    <div class="container">
      <div *ngIf="this.livro" style="margin-top: 5%">
        

              <div fxLayout="row">
                  <div fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxFlex.xs="100">
                      <div class="card detalhe-card-book">
                        
                          <div class="card-header">
                            <div fxLayout="row">
                            <div class="col-11">
                              <h3 class="detalhe-title-book text-center">{{livro.volumeInfo.title}}</h3>
                              <h4 class="titulo-autor text-center">{{livro.volumeInfo.authors}}</h4>
                            </div>
                            <div class="col-1 d-flex justify-content-end">
                              <mat-icon class="icon-status-book" matTooltip="lido">bookmark</mat-icon>
                            </div>
                        </div>
                      </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-4">
                                      <blockquote class="blockquote mb-0">
                                          <img class="capa" src={{livro.volumeInfo.imageLinks.smallThumbnail}} alt="" />
                                      </blockquote>
                                  </div>
                                  <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">

                                    <div fxLayout="row">
                                      <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                      <button mat-icon-button color="secundary" matTooltip="PDF" aria-label="Botão PDF">
                                        <mat-icon>picture_as_pdf</mat-icon>
                                      </button>
                                      <button mat-icon-button color="accent" matTooltip="Mobi" aria-label="Botão ebook">
                                        <mat-icon>book</mat-icon>
                                      </button>
                                      <button mat-icon-button (click)="this.favoritar()" [color]="this.favorito ? 'warn' : ''" matTooltip="Favorito" aria-label="Botão favorito">
                                        <mat-icon>favorite</mat-icon>
                                      </button>
                                      <button mat-icon-button color="secundary" matTooltip="Emprestado" aria-label="Botão favorito">
                                        <mat-icon>sync_alt</mat-icon>
                                      </button>
                                    </div>
                                    <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8" fxLayoutAlign="end center">
                                      <button mat-raised-button color="primary" (click)="openDialog()">
                                        <mat-icon>add</mat-icon>
                                        Adicionar a estante
                                      </button>
                                    </div>
                                  </div>

                                  <div fxLayout="row">
                                    <div class="col-12 mt-5">
                                      <h4 class="font-weight-bold">Descrição:</h4> 
                                        <p class="resumo-livro">{{livro.volumeInfo.description}}</p>
                                    </div>
                                  </div>
  
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

        
      </div>
    </div>


  </div>
</div>




<!-- <div class="container">
  <div fxLayout="row">
    
    <div class="results-container rightBorder" *ngIf="this.livro">
    
      <p><img src={{livro.volumeInfo.imageLinks.smallThumbnail}} /></p>
      <h4>Rating {{livro.volumeInfo.averageRating}}</h4>
    </div>
  </div>
  <div class="col-md-9 rightBorder" *ngIf="livro">
   <h2> {{livro.volumeInfo.title}} </h2>
   <h4>Description</h4>
   <p>{{livro.volumeInfo.description}}</p>
   <hr />
   <h4>Category</h4>
   <p>{{livro.volumeInfo.categories}}</p>
   <h4>Author</h4>
   <p>{{livro.volumeInfo.authors}}</p>
   <h4>Publisher</h4>
   <p>{{livro.volumeInfo.publisher}}</p>
   <h4>Published date</h4>
   <p>{{livro.volumeInfo.publishedDate}}</p>
    <h4>Language</h4>
   <p>{{livro.volumeInfo.language}}</p>
   <hr />
  </div>
  <div>

</div> -->