<div class="tela">
  <div fxFlex="19">
    <app-sidebar></app-sidebar>
  </div>

  <div fxFlex="79">

    <div class="container">
      <div *ngIf="this.livro" style="margin-top: 7%">


              <div fxLayout="row">
                  <div fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" fxFlex.xs="100">
                      <div class="card detalhe-card-book">
                          <div class="card-header text-center">
                              <h3 class="detalhe-title-book">{{livro.volumeInfo.title}}</h3>
                              <h5 class="titulo-autor text-center">{{livro.volumeInfo.authors}}</h5>
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-4">
                                      <blockquote class="blockquote mb-0">
                                          <img class="capa" src={{livro.volumeInfo.imageLinks.smallThumbnail}} alt="" />
                                      </blockquote>
                                  </div>
                                  <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
  
                                      <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" id="lido" value="option1">
                                          <label class="form-check-label" for="lido">Lido</label>
                                      </div>
                                      <span style="color: #f5593d">*Emprestado!</span>
                                      <span>Romance</span>
  
                                      <h6 class="resumo-livro">Resumo:</h6>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet tortor est.
                                          Integer a leo scelerisque, rutrum odio eu, dictum orci. Donec sit amet ante non
                                          eros euismod consectetur. Aliquam lacinia, nisl in dictum pellentesque, ipsum
                                          nunc scelerisque erat, vitae vulputate tellus velit eu justo. Suspendisse
                                          potenti.
                                          Sed lacinia eleifend massa a rutrum. Ut efficitur quis lorem id dictum. Ut nulla
                                          justo, efficitur sit amet lorem ut, malesuada consequat nibh. Nulla interdum
                                          magna sit amet arcu feugiat, vel varius erat molestie. Aliquam sit amet viverra
                                          risus, in pretium odio. Phasellus leo leo, tristique posuere egestas eget,
                                          dictum
                                          eu quam. Sed nec neque dui. </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

        
      </div>
    </div>


  </div>
</div>




<!-- <div class="container">
  <div fxLayout="row">
    
    <div class="results-container rightBorder" *ngIf="this.livro">
    
      <p><img src={{livro.volumeInfo.imageLinks.smallThumbnail}} /></p>
      <h4>Rating {{livro.volumeInfo.averageRating}}</h4>
    </div>
  </div>
  <div class="col-md-9 rightBorder" *ngIf="livro">
   <h2> {{livro.volumeInfo.title}} </h2>
   <h4>Description</h4>
   <p>{{livro.volumeInfo.description}}</p>
   <hr />
   <h4>Category</h4>
   <p>{{livro.volumeInfo.categories}}</p>
   <h4>Author</h4>
   <p>{{livro.volumeInfo.authors}}</p>
   <h4>Publisher</h4>
   <p>{{livro.volumeInfo.publisher}}</p>
   <h4>Published date</h4>
   <p>{{livro.volumeInfo.publishedDate}}</p>
    <h4>Language</h4>
   <p>{{livro.volumeInfo.language}}</p>
   <hr />
  </div>
  <div>

</div> -->